@import "button.css";
body{
	font-family: 'Quicksand', sans-serif;
	color:#222;
	margin:0;
	background:#fff;
	font-size:16px;
	cursor:default;
}

.wrapper{
	margin:0 auto;
}

.space{
	margin:0.5rem;
}

/*Vanaf 568px breedte*/
@media screen and (max-width: 35.5em){
	
	/*.wrapper{
		width:35.5em;
	}*/

	body{
		font-size: 0.8em;
	}

}
/*Vanaf 568px breedte*/
@media screen and (min-width: 35.5em){
	
	.wrapper{
		width:35.5em;
	}

	.space{
		margin:0.5rem;
	}

	article .description, article .featured{
		display: block;
	}

}
/*Vanaf 768px breedte*/
@media screen and (min-width: 48em){
	
	.wrapper{
		width:48em;
	}

	.space{
		margin:0.5rem;
	}

}
/*Vanaf 1024px breedte*/
@media screen and (min-width: 64em){
	
	.wrapper{
		width:64em;
	}

	.space{
		margin:0.5rem;
	}

}
/*Vanaf 1280px breedte*/
@media screen and (min-width: 80em){
	
	.wrapper{
		width:80em;
	}

	.space{
		margin:0.5rem;
	}

}

header{
	/*background:#f60;*/
	/*border-bottom:solid 1px #ccc;*/
	position: relative;
	/*transition:background-color 0.5s, color 0.5s, text-shadow 0.5s;*/
}

#donate{
	text-align: center;
}

a.donation{
	text-decoration: none;
	color:#333;
}

a.donation:hover{
	text-decoration: underline;
	color:#012169;
}

a .label{
	/*display:none;*/
}

a.donation:hover .label{
	/*display:inline;*/
	text-decoration: underline;
}

#paypal i{
	color:#012169;
}

header h1{
	text-align: center;
	/*margin:0;*/
	/*padding:1em;*/
	font-family: 'Poppins', sans-serif;
}

form .row{
	margin:0.5rem 0;
}

.row label{
	display: block;
}

.right{
	float:right;
}

.smaller{
	font-size:0.8rem;
}

.row input{
	width:100%;
	font-family: monospace;
	font-size: 1rem;
	margin:0;
	padding:0;
}

#addresses{
	list-style-type:none;
	margin:0 0 1em;
	padding:0;
}

#addresses li{
	padding:0.5em 0;
	border-bottom: dashed 1px #999;
}

#addresses li:last-child{
	margin-bottom:0;
	border-bottom: none;
}

#addresses a{
	color:#333;
	text-decoration: none;
}

#addresses a:hover{
	color:#000;
	font-weight: bold;
}

#addresses a:hover i{
	color:#012169;
}


footer{
	border-top:solid 1px #ccc;
	padding-top:0.1rem;
	text-align: center;
}

p a, a.imDoneWithItThisIsTheLastThing{
	color:#333;
	text-decoration: none;
}

p a:hover, a.imDoneWithItThisIsTheLastThing:hover{
	color:#000;
	font-weight: bold;
}